@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    scroll-behavior: smooth;
    color: #666D83;
}

/* Custom Variables */
:root {
    --field-color: #C3BC05;
}

/* Override default focus colors for tailwindcss-forms https://github.com/tailwindlabs/tailwindcss-forms */
[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='checkbox']:focus,
[type='radio']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
    --tw-ring-color: var(--field-color);
    border-color: var(--field-color);
}

.container {
    @apply box-border px-5 xs:px-5 xl:px-20
}

.text-light * {
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    @apply  font-bold text-primary py-2
}

h1 {
    @apply lg:text-6xl sm:text-4xl text-2xl
}
h2 {
    @apply lg:text-4xl sm:text-3xl text-2xl
}
h3 {
    @apply text-4xl sm:text-3xl text-xl
}

ul {
    all: revert;
}

section.swiper-container {
    background-color: cadetblue;
    display: flex;
    justify-content: center;
}

div.swiper-slide {
    margin: 0;
}

.swiper {
    overflow: visible !important;
}

.swiper-slide-active {
    transform: scale(1.3) !important;
    transition: all 1s;
}
.swiper-slide-active  figure {
    border: solid 3px #C3BC05;
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    .swiper-slide {
        margin: 10px !important;
    }
}