@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  color: #666d83;
  font-family: 'Tajawal', sans-serif;
}

/* Custom Variables */
:root {
  --field-color: #c3bc05;
}

/* Override default focus colors for tailwindcss-forms https://github.com/tailwindlabs/tailwindcss-forms */
[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="checkbox"]:focus,
[type="radio"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: var(--field-color);
  border-color: var(--field-color);
}

.container {
  @apply box-border px-5 xs:px-5 xl:px-20;
}

.text-light * {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-primary py-2;
}

h1 {
  @apply lg:text-6xl sm:text-4xl text-2xl;
}
h2 {
  @apply lg:text-4xl sm:text-3xl text-xl;
}
h3 {
  @apply text-4xl sm:text-3xl;
}

ul {
  all: revert;
}

.mob-nav--height {
  height: calc(100vh - 170px);
}

section.swiper-container {
  background-color: cadetblue;
  display: flex;
  justify-content: center;
}

div.swiper-slide {
  margin: 0 !important;
}

.swiper {
    overflow: visible !important;
}


.blog-content {
  @apply text-justify my-5
}
.blog-content iframe, .blog-content img {
  @apply w-full
}
.blog-content p {
  @apply text-lg my-2
}
.blog-content a {
  @apply text-blue-500 underline
}

.blog-content ol {
  list-style: decimal;
  margin-left: 25px;
}

.blog-content td {
  border-width: 1px !important;
  border-style: solid !important;
  padding: 10px 15px;
}

*:has(> table) {
  display: block;
  overflow-x: auto;
}

.accordion__title {
  background-color: white;
  color: rgb(77, 77, 77);
  font-weight: bold;
  border: 0;
  box-shadow: 0 0.5px 2px rgb(168, 168, 168);
  padding: 1px 20px;
  cursor: pointer;
  width: 100%;
}

.accordion__content {
  font-size: 13px;
  color: rgb(77, 77, 77);
  overflow-y: hidden;
  transition: all 0.5s;
}

.accordion__section {
  width: 100%;
}

/*7asby alah ya mustafa xDD*/

@media only screen and (max-width: 600px) {
  .swiper-slide {
    margin: 10px !important;
  }
}